@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  max-width: 850px;
  background-color: #FFFFFF;
  padding: 57.6px 72px;
  margin: auto;
  border: 1px solid #E3ECF5;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .register-container {
    padding: 48px 36px;
  }
}

body[theme=light] {
  color: #5F5F5F;
  background-color: #FFFFFF;
}

body[theme=dark] {
  color: #FFFFFF;
  background-color: #090606;
}

body[theme=auto] {
  color: #5F5F5F;
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  body[theme=auto] {
    color: #FFFFFF;
    background-color: #090606;
  }
}

body {
  font-family: "Roboto", san-serif;
  letter-spacing: 0px;
  color: #5F5F5F;
  background-color: #FFFFFF;
}

a {
  color: #0071BC;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  font: normal normal 600 15px/20px "Open Sans", san-serif;
}
a:hover {
  text-decoration: underline;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 48px;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 24px;
}
@media (max-width: 768px) {
  .register-form {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
.register-form .form-group {
  display: flex;
  flex-direction: column;
}
.register-form label {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
}
.register-form label .required {
  color: #F15C5C;
  margin-left: 2px;
}
.register-form input[type=text],
.register-form input[type=email],
.register-form input[type=password],
.register-form input[type=search],
.register-form input[type=tel] {
  width: 100%;
  height: 48px;
  border: 1px solid #D7DBDF;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}
.register-form input[type=text]:focus,
.register-form input[type=email]:focus,
.register-form input[type=password]:focus,
.register-form input[type=search]:focus,
.register-form input[type=tel]:focus {
  outline: none;
  border-color: #5F5F5F;
  box-shadow: 0 0 0 2px rgba(95, 95, 95, 0.25);
}
.register-form .form-checkbox {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block: 8px 16px;
}
.register-form .form-checkbox input[type=checkbox] {
  margin-right: 8px;
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
}
.register-form .form-checkbox label {
  font-size: 14px;
  line-height: 1.5;
  max-width: 80%;
  user-select: none;
}
.register-form button {
  background-color: #0071BC;
  color: #FFFFFF;
  padding: 12px 20px;
  border-radius: 4px;
  border: unset;
  font-size: 17px;
  width: fit-content;
}
.register-form .error-message {
  color: #F15C5C;
  font-size: 14px;
  margin-top: 8px;
  min-height: 10px;
}
.register-form input.invalid {
  border-color: #F15C5C !important;
  box-shadow: 0 0 0 2px rgba(241, 92, 92, 0.25) !important;
}
.register-form .form-checkbox label.invalid-label {
  color: #F15C5C;
}

.sidebar-container {
  padding: 8px;
  min-height: 100dvh;
  border-right: 1px solid #E3ECF5;
}
.sidebar-container .mob-logo {
  display: none;
}
@media (max-width: 992px) {
  .sidebar-container {
    min-height: min-content;
    display: flex;
    align-items: flex-start;
  }
  .sidebar-container .navbar {
    position: absolute;
    left: 50px;
    max-width: 300px;
    width: 100vw;
    min-height: calc(100dvh + 100px);
    margin: -100px 0 0 -50px;
    padding: 24px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    z-index: 100;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .sidebar-container .mob-logo {
    display: block;
  }
  .sidebar-container .hamburger {
    background-color: unset;
    border: unset;
    display: block !important;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .sidebar-container .hamburger input[type=checkbox] {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  .sidebar-container .hamburger input[type=checkbox]:focus {
    background-color: unset;
  }
  .sidebar-container .hamburger input[type=checkbox]:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -1px);
    background: #090606;
  }
  .sidebar-container .hamburger input[type=checkbox]:checked ~ span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .sidebar-container .hamburger input[type=checkbox]:checked ~ span:nth-last-child(1) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  .sidebar-container .hamburger span {
    display: block;
    width: 24px;
    height: 4px;
    margin-bottom: 4px;
    position: relative;
    background-color: #5F5F5F;
    border-radius: 4px;
    transform-origin: 4px 0px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .sidebar-container .hamburger span:first-child {
    transform-origin: 0% 0%;
  }
  .sidebar-container .hamburger span:nth-child(2) {
    transform-origin: 0% 100%;
  }
}
.sidebar-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
.sidebar-container ul li {
  width: 100%;
}
.sidebar-container ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: #333333;
}
.sidebar-container ul li > a.active {
  color: #0071BC;
  background-color: rgba(0, 125, 252, 0.08);
}
.sidebar-container ul li:nth-child(2) a.active img {
  object-position: -58px 0px;
}
.sidebar-container ul li:nth-child(3) a.active img {
  object-position: -58px -60px;
}
.sidebar-container ul li:nth-child(4) a.active img {
  object-position: -58px -120px;
}
.sidebar-container ul li:nth-child(5) a.active img {
  object-position: -58px -180px;
}
.sidebar-container ul li:nth-child(6) a.active img {
  object-position: -58px -240px;
}
.sidebar-container ul li:nth-child(7) a.active img {
  object-position: -58px -300px;
}
.sidebar-container ul li:nth-child(2) img {
  width: 22px;
  height: 22px;
  object-fit: none;
  object-position: 2px 0px;
}
.sidebar-container ul li:nth-child(3) img {
  width: 22px;
  height: 22px;
  object-fit: none;
  object-position: 2px -60px;
}
.sidebar-container ul li:nth-child(4) img {
  width: 22px;
  height: 22px;
  object-fit: none;
  object-position: 2px -120px;
}
.sidebar-container ul li:nth-child(5) img {
  width: 22px;
  height: 22px;
  object-fit: none;
  object-position: 2px -180px;
}
.sidebar-container ul li:nth-child(6) img {
  width: 22px;
  height: 22px;
  object-fit: none;
  object-position: 2px -240px;
}
.sidebar-container ul li:nth-child(7) img {
  width: 22px;
  height: 22px;
  object-fit: none;
  object-position: 2px -300px;
}
.sidebar-container ul li:first-child img {
  height: 40px;
}

body[view=dashboard] header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E3ECF5;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(159, 172, 198, 0.1607843137);
}
body[view=dashboard] header .title {
  text-transform: capitalize;
  color: #090606;
}
body[view=dashboard] header .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
@media (max-width: 768px) {
  body[view=dashboard] header .header-right {
    gap: 8px;
  }
}
body[view=dashboard] header .header-right a[class$=-icon] img {
  width: 25px;
  height: 25px;
  object-fit: none;
}
body[view=dashboard] header .header-right a.header-notification-icon img {
  object-position: -222px -68px;
}
body[view=dashboard] header .header-right a.header-profile-icon img {
  object-position: -160px -30px;
  border-radius: 50%;
}
body[view=dashboard] header input[type=search] {
  height: 48px;
  border: 1px solid #D7DBDF;
  border-radius: 6px;
  padding: 8px;
  text-indent: 30px;
  font-size: 16px;
  background: url("../../../assets/images/icons.svg") -60px -368px no-repeat content-box;
}
@media (min-width: 992px) {
  body[view=dashboard] header input[type=search] {
    min-width: 500px;
  }
}
@media (max-width: 767.98px) {
  body[view=dashboard] header input[type=search] {
    max-width: 120px;
  }
}
body[view=dashboard] header input[type=search]:focus {
  outline: none;
  border-color: #5F5F5F;
  box-shadow: 0 0 0 2px rgba(95, 95, 95, 0.25);
}
body[view=dashboard] header .theme-select {
  position: relative;
}
body[view=dashboard] header .theme-select .theme-select-option {
  margin-top: 8px;
  display: none;
  background-color: rgba(0, 113, 188, 0.25);
  border-radius: 4px;
  position: absolute;
  left: 0px;
}
body[view=dashboard] header .theme-select .theme-select-option.show {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body[view=dashboard] header .theme-select .theme-select-option .light,
body[view=dashboard] header .theme-select .theme-select-option .dark,
body[view=dashboard] header .theme-select .theme-select-option .auto {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all ease-in-out 0.4s;
}
body[view=dashboard] header .theme-select .theme-select-option .light:hover,
body[view=dashboard] header .theme-select .theme-select-option .dark:hover,
body[view=dashboard] header .theme-select .theme-select-option .auto:hover {
  background-color: rgba(0, 113, 188, 0.25);
  color: #FFFFFF;
}
body[view=dashboard] header .theme-select img {
  width: 25px;
  height: 25px;
  object-fit: none;
  object-position: -222px -4px;
  cursor: pointer;
}

body[view=dashboard] {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "aside head" "aside main";
  overflow: hidden;
}
@media (max-width: 992px) {
  body[view=dashboard] {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside" "head" "main";
  }
}
body[view=dashboard] aside {
  grid-area: aside;
  position: sticky;
  top: 0;
  min-height: 100vh;
  overflow-y: auto;
}
@media (max-width: 992px) {
  body[view=dashboard] aside {
    min-height: fit-content;
    position: unset;
  }
}
body[view=dashboard] header {
  grid-area: head;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 992px) {
  body[view=dashboard] header {
    position: unset;
  }
}
body[view=dashboard] main.dashboard {
  grid-area: main;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

main.dashboard .bill-information-container table tbody tr td input[type=checkbox],
main.dashboard .invoice-container table tbody tr td input[type=checkbox],
main.dashboard .recent-activity-container table tbody tr td input[type=checkbox], main.dashboard .bill-information-container table thead tr td input[type=checkbox],
main.dashboard .invoice-container table thead tr td input[type=checkbox],
main.dashboard .recent-activity-container table thead tr td input[type=checkbox] {
  width: 16px;
  height: 16px;
}

main.dashboard .bill-information-container h3:has(+ table),
main.dashboard .invoice-container h3:has(+ table),
main.dashboard .recent-activity-container h3:has(+ table) {
  padding: 24px;
  color: #090606;
}
@media (max-width: 992px) {
  main.dashboard .bill-information-container h3:has(+ table),
  main.dashboard .invoice-container h3:has(+ table),
  main.dashboard .recent-activity-container h3:has(+ table) {
    position: sticky;
    left: 0;
    top: 0;
  }
}
main.dashboard .bill-information-container table,
main.dashboard .invoice-container table,
main.dashboard .recent-activity-container table {
  border-spacing: 0;
  width: 100%;
}
main.dashboard .bill-information-container table thead,
main.dashboard .invoice-container table thead,
main.dashboard .recent-activity-container table thead {
  background-color: #F3F6F9;
  background-clip: padding-box;
}
main.dashboard .bill-information-container table thead tr td,
main.dashboard .invoice-container table thead tr td,
main.dashboard .recent-activity-container table thead tr td {
  padding-inline: 24px;
  padding-block: 12px;
  color: #3F4D5E;
  font-weight: 600;
}
@media (max-width: 992px) {
  main.dashboard .bill-information-container table thead tr td,
  main.dashboard .invoice-container table thead tr td,
  main.dashboard .recent-activity-container table thead tr td {
    min-width: 200px;
  }
}
main.dashboard .bill-information-container table thead tr td input[type=checkbox],
main.dashboard .invoice-container table thead tr td input[type=checkbox],
main.dashboard .recent-activity-container table thead tr td input[type=checkbox] {
  margin-right: 8px;
}
main.dashboard .bill-information-container table tbody tr td,
main.dashboard .invoice-container table tbody tr td,
main.dashboard .recent-activity-container table tbody tr td {
  padding-inline: 24px;
  padding-block: 24px;
  color: #3F4D5E;
  border-bottom: 1px solid #E3ECF5;
}
main.dashboard .bill-information-container table tbody tr td .client-name-cell,
main.dashboard .invoice-container table tbody tr td .client-name-cell,
main.dashboard .recent-activity-container table tbody tr td .client-name-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}
main.dashboard .bill-information-container table tbody tr td .client-name-cell .client-initials,
main.dashboard .invoice-container table tbody tr td .client-name-cell .client-initials,
main.dashboard .recent-activity-container table tbody tr td .client-name-cell .client-initials {
  background-color: #0071BC;
  color: #FFFFFF;
  width: 24px;
  height: 24px;
  object-fit: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.dashboard .bill-information-container table tbody tr td:first-child,
main.dashboard .invoice-container table tbody tr td:first-child,
main.dashboard .recent-activity-container table tbody tr td:first-child {
  color: #090606;
  font-weight: 600;
}
main.dashboard .bill-information-container table tbody tr td[status-data=open],
main.dashboard .invoice-container table tbody tr td[status-data=open],
main.dashboard .recent-activity-container table tbody tr td[status-data=open] {
  color: #FF814F;
}
main.dashboard .bill-information-container table tbody tr td[status-data=open] span,
main.dashboard .invoice-container table tbody tr td[status-data=open] span,
main.dashboard .recent-activity-container table tbody tr td[status-data=open] span {
  padding: 8px;
  background-color: rgba(255, 129, 79, 0.1);
  border-radius: 4px;
  display: block;
}
main.dashboard .bill-information-container table tbody tr td[status-data=completed],
main.dashboard .invoice-container table tbody tr td[status-data=completed],
main.dashboard .recent-activity-container table tbody tr td[status-data=completed] {
  color: #9969C5;
}
main.dashboard .bill-information-container table tbody tr td[status-data=completed] span,
main.dashboard .invoice-container table tbody tr td[status-data=completed] span,
main.dashboard .recent-activity-container table tbody tr td[status-data=completed] span {
  padding: 8px;
  background-color: rgba(153, 105, 197, 0.1);
  border-radius: 4px;
  display: block;
}
main.dashboard .bill-information-container table tbody tr td[status-data=not-started],
main.dashboard .invoice-container table tbody tr td[status-data=not-started],
main.dashboard .recent-activity-container table tbody tr td[status-data=not-started] {
  color: #E58E1C;
}
main.dashboard .bill-information-container table tbody tr td[status-data=not-started] span,
main.dashboard .invoice-container table tbody tr td[status-data=not-started] span,
main.dashboard .recent-activity-container table tbody tr td[status-data=not-started] span {
  padding: 8px;
  background-color: rgba(229, 142, 28, 0.1);
  border-radius: 4px;
  display: block;
}
main.dashboard .bill-information-container table tbody tr td[status-data=started],
main.dashboard .invoice-container table tbody tr td[status-data=started],
main.dashboard .recent-activity-container table tbody tr td[status-data=started] {
  color: #1979B8;
}
main.dashboard .bill-information-container table tbody tr td[status-data=started] span,
main.dashboard .invoice-container table tbody tr td[status-data=started] span,
main.dashboard .recent-activity-container table tbody tr td[status-data=started] span {
  padding: 8px;
  background-color: rgba(25, 121, 184, 0.1);
  border-radius: 4px;
  display: block;
}

main.dashboard {
  padding: 24px 24px 72px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}
main.dashboard .total-count-container {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
main.dashboard .total-count-container div[class^=total-] img {
  width: 68px;
  height: 68px;
  object-fit: none;
}
main.dashboard .total-count-container div[class=total-views] img {
  object-position: -124px 2px;
}
main.dashboard .total-count-container div[class=total-profit] img {
  object-position: -124px -102px;
}
main.dashboard .total-count-container div[class=total-products] img {
  object-position: -124px -202px;
}
main.dashboard .total-count-container div[class=total-users] img {
  object-position: -124px -312px;
}
main.dashboard .total-count-container div[class=total-search] img {
  object-position: -124px -422px;
}
main.dashboard .total-count-container div[class^=total-] {
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  padding: 16px;
  border: 1px solid #E3ECF5;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(159, 172, 198, 0.1607843137);
}
main.dashboard .total-count-container div[class^=total-] .card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
}
main.dashboard .total-count-container div[class^=total-] h2 {
  color: #090606;
}
main.dashboard .total-count-container div[class^=total-] span {
  color: #3F4D5E;
}
main.dashboard .bill-information-container,
main.dashboard .invoice-container,
main.dashboard .recent-activity-container {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #E3ECF5;
  box-shadow: 0px 4px 12px rgba(159, 172, 198, 0.1607843137);
  position: relative;
}
@media (max-width: 993px) {
  main.dashboard .bill-information-container,
  main.dashboard .invoice-container,
  main.dashboard .recent-activity-container {
    overflow: scroll;
  }
}
main.dashboard .invoice-container,
main.dashboard .recent-activity-container {
  flex: 1;
}
@media (max-width: 992px) {
  main.dashboard .invoice-container,
  main.dashboard .recent-activity-container {
    flex: 1 100%;
  }
}

/*# sourceMappingURL=style.css.map */
