@use '../abstracts/mixins' as icon;
@use '../abstracts/variables' as variables;

// $icon-y-positions: 0px, -60px, -120px, -180px, -240px, -300px;
// $icon-active-x-positions: -58px;

$icons-positions: (
    2 : 0px,
    3 : -60px,
    4 : -120px,
    5 : -180px,
    6 : -240px,
    7 : -300px,
);

.sidebar-container {
    padding: variables.$spacing-sm;
    min-height: 100dvh;
    border-right: 1px solid variables.$primary-border-color;

    .mob-logo {
        display: none;
    }

    @media (max-width:992px) {
        min-height: min-content;
        display: flex;
        align-items: flex-start;

        .navbar {
            position: absolute;
            left: 50px;
            max-width: 300px;
            width: 100vw;
            min-height: calc(100dvh + 100px);
            margin: -100px 0 0 -50px;
            padding: variables.$spacing-lg;
            padding-top: 125px;
            box-sizing: border-box;
            overflow-y: auto;
            background: #ededed;
            list-style-type: none;
            z-index: 100;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }

        .mob-logo {
            display: block;
        }

        .hamburger {
            background-color: unset;
            border: unset;
            display: block !important;
            position: fixed;
            top: 25px;
            right: 25px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;

            input[type='checkbox'] {
                &:focus {
                    background-color: unset;
                }

                display: block;
                width: variables.$spacing-xl * 1.25;
                height: variables.$spacing-xl;
                position: absolute;
                top: -7px;
                left: -5px;
                cursor: pointer;
                opacity: 0;
                z-index: 2;

                &:checked~span {
                    opacity: 1;
                    transform: rotate(45deg) translate(0px, -1px);
                    background: variables.$black-color;
                }

                &:checked~span:nth-last-child(2) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:checked~span:nth-last-child(1) {
                    transform: rotate(-45deg) translate(1px, -1px);
                }
            }

            span {
                display: block;
                width: variables.$spacing-lg;
                height: variables.$spacing-sm / 2;
                margin-bottom: variables.$spacing-sm / 2;
                position: relative;
                background-color: variables.$primary-color;
                border-radius: variables.$border-radius-base;
                transform-origin: 4px 0px;
                z-index: 1;

                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;

                &:first-child {
                    transform-origin: 0% 0%;
                }

                &:nth-child(2) {
                    transform-origin: 0% 100%;
                }
            }
        }
    }


    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: variables.$spacing-sm;

        li {
            width: 100%;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: variables.$spacing-sm;
                padding: variables.$spacing-sm;
                color: variables.$tertiary-color;
            }

            &>a.active {
                color: variables.$secondary-color;
                background-color: rgba(variables.$secondary-bg-color, 0.08);
            }
        }

        @each $child, $position in $icons-positions {
            & li:nth-child(#{$child}) a.active img {
                object-position: -58px $position;
            }
        }

        @each $child, $position in $icons-positions {
            li:nth-child(#{$child}) img {
                @include icon.icon-size(22px);
                object-position: 2px $position;
            }
        }

        li:first-child img {
            height: 40px;
        }
    }
}