@use '../abstracts/mixins' as icon;
@use '../abstracts/variables' as variables;

// $icon-y-positions: 0px, -60px, -120px, -180px, -240px, -300px;
// $icon-active-x-positions: -58px;

$icons-positions: (
    2 : 0px,
    3 : -60px,
    4 : -120px,
    5 : -180px,
    6 : -240px,
    7 : -300px,
);

.sidebar-container {
    padding: variables.$spacing-sm;
    min-height: 100dvh;

    @media (max-width:992px) {
        min-height: fit-content;
    }

    border-right: 1px solid variables.$primary-border-color;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: variables.$spacing-sm;

        li {
            width: 100%;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: variables.$spacing-sm;
                padding: variables.$spacing-sm;
                color: variables.$tertiary-color;
            }

            &>a.active {
                color: variables.$secondary-color;
                background-color: rgba(variables.$secondary-bg-color, 0.08);
            }
        }

        @each $child, $position in $icons-positions {
            & li:nth-child(#{$child}) a.active img {
                object-position: -58px $position;
            }
        }

        @each $child, $position in $icons-positions {
            li:nth-child(#{$child}) img {
                @include icon.icon-size(22px);
                object-position: 2px $position;
            }
        }

        li:first-child img {
            height: 40px;
        }
    }
}