@use '../themes' as theme;
@use '../abstracts/' as variables;

$primary-font-stack : ('Roboto', san-serif);
$secondary-font-stack : ('Open Sans', san-serif);
$primary-font: $primary-font-stack;
$secondary-font: $secondary-font-stack;
$primary-letter-spacing: 0px;

body {
    font-family: $primary-font;
    letter-spacing: $primary-letter-spacing;
    @include theme.theme;
}

a {
    color: variables.$secondary-color;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
    font: normal normal 600 15px / 20px $secondary-font;

    &:hover {
        text-decoration: underline;
    }
}