@use '../themes' as theme;
@use '../abstracts/' as variables;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font-stack : ('Roboto', san-serif);
$secondary-font-stack : ('Open Sans', san-serif);
$primary-font: $primary-font-stack;
$secondary-font: $secondary-font-stack;
$primary-letter-spacing: 0px;

body {
    font-family: $primary-font;
    letter-spacing: $primary-letter-spacing;
    @include theme.theme;
}

a {
    color: variables.$secondary-color;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
    font: normal normal 600 15px / 20px $secondary-font;

    &:hover {
        text-decoration: underline;
    }
}