@mixin verical-horizontal-center($flex: flex, $justify-content-center: center, $align-items-center: center) {
    display: $flex;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
}

@mixin icon-size($width: width) {
    width: $width;
    height: $width;
    object-fit: none;
}