$primary-color: #5F5F5F;
$secondary-color: #0071BC;
$primary-bg-color: #FFFFFF;
$primary-border-color: #E3ECF5;
$primary-input-border-color: #D7DBDF;
$primary-error-color: #F15C5C;

$font-base-size: 16px;
$font-base-sm: 14px;

$spacing-sm : 8px;
$spacing-md : 16px;
$spacing-lg : 24px;
$spacing-xl : 32px;

$border-radius-base: 4px;